.modaal-venster{
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:rgba(0,0,0,0.9);
    cursor: pointer;
}



.modaal-inhoud{
    /*background-color: blue;*/
    font-family: Helvetica Neue;
    color: white;
    font-size: 30px;
    margin: auto;
    margin-top: 10%;
    cursor: default;
}

.modaal-inhoud img{
    width: 100%;
    margin-bottom: 2%;
}




.sluit-knop{
    margin-left: 95%;
    color: red;

    border-radius: 10px;

    width: 100%;
    cursor: pointer;
}

.sluit-knop:hover{
    background-color: darkred;
    color: black;
}

